.headerWrapper {
  position: relative;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #f0f0f0;

  .headerLogo {
    display: flex;
    margin: 0 30px;
    height: 57px;
    align-items: center;
    float: left;
    img {
      width: 60px;
    }
  }
}

.headerWrapper {

  .headerNav {
    height: 57px;
    display: flex;
    align-items: center;

    &.left {
      float: left;
    }

    &.right {
      float: right;
      color: #f0f0f0;
    }

    a {
      font-size: 17px;
      color: #000;
      text-decoration: none;
      padding: 0 20px;
    }
  }
}